<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
 <!--  <h1>Welcome to SPORTZY !!</h1> --> 


  <div class="navbar">
    <div>
        <a href='website.html'>SPORTZY</a>
    </div>
    <nav>
        <ul id='MenuItems'>
        <!--  <li><button> <a class='playerbtn' href="playerregister.html"       >Player       </a></button></li>  
            <li><button> <a class='coachbtn'  href="coachregister.html"        >Academy/Coach</a> </button></li> -->  
            <li><button> <a class='organizerbtn' href="loginpage.html" >login    </a></button></li> 
        </ul>
    </nav>
</div>




  <div class="card-container">
    <% users.forEach(user => { %>
      <div class="card">
        <img src="<%= user.photo_url %>" alt="<%= user.id %>">
        <h2><%= user.id %></h2>
      </div>
    <% }); %>
    <script src="playerregister.js"></script>
  </div>
</body>
</html>
